name: Build README.md CI/CD

# 触发条件：在 push 到 Dev 分支后触发
on:
  push:
    branches: 
      - dev

env:
  TZ: Asia/Shanghai

jobs:
  build-readme:
    name: Build READM.md 
    runs-on: ubuntu-latest

    steps:
    - name: "[1/4]切换分支'dev'"
      uses: actions/checkout@v2

    - name: "[2/4]生成README.md"
      run: |
        ./init.sh
    - name: "[3/4]移动目录"
      run: |
        ./mk-dir.sh
    - name: "[4/4]推送到main分支"
      env: 
        GITHUB_REPO: github.com/wangxiaoerYah/my-jsd-repo.git
      run: |
        cd .PUSH-DIR && git init && git add .
        git config user.name "wangxiaoeryah"
        git config user.email "wangxiaoerwex@outlook.com"
        git add .
        git commit -m "GitHub Actions Auto Builder at $(date +'%Y-%m-%d %H:%M:%S')"
        git push --force --quiet "https://${{ secrets.GITHUB }}@$GITHUB_REPO" master:main
        


