name: Build README.md CI/CD

# 触发条件：在 push 到 Dev 分支后触发
on:
  push:
    branches: 
      - dev

env:
  TZ: Asia/Shanghai

jobs:
  build-readme:
    name: Build READM.md 
    runs-on: ubuntu-latest

    steps:
    - name: "[1/5]切换分支'dev'"
      uses: actions/checkout@v2

    - name: "[2/5]生成README.md"
      run: |
        ./init.sh
    - name: "[3/5]移动目录"
      run: |
        ./mk-dir.sh
    - name: "[4/5]推送到仓库"
      env: 
        GITHUB_REPO: github.com/wangxiaoerYah/my-jsd-repo.git
        # Coding 仓库
        #CODING_REPO: e.coding.net/.git
        # Gitee 仓库
        GITEE_REPO: gitee.com/wangxiaoerYah/my-link-repo.git
      run: |
        pwd
        cd .PUSH-DIR && git init && git add .
        git config --global user.name "wangxiaoeryah"
        git config --global user.email "wangxiaoerwex@outlook.com"
        git add .
        git commit -m "GitHub Actions Auto Push at $(date +'%Y-%m-%d %H:%M:%S')"
        git push --force --quiet "https://${{ secrets.GITHUB }}@$GITHUB_REPO" master:main 
        cd .. && cd .GITEE-DIR && git init && git add .
        git add .
        git commit -m "GitHub Actions Auto Push at $(date +'%Y-%m-%d %H:%M:%S')"
        git push --force --quiet "https://wangxiaoerYah:${{ secrets.GITEE_ACCESS_TOKEN }}@$GITEE_REPO" master:master
    
    - name: "[5/5]部署GITEE PAGE"
      uses: yanglbme/gitee-pages-action@main
      with:
          # 注意替换为你的 Gitee 用户名
        gitee-username: wangxiaoerYah
          # 注意在 Settings->Secrets 配置 GITEE_PASSWORD
        gitee-password: ${{ secrets.GITEE_PASSWORD }}
          # 注意替换为你的 Gitee 仓库，仓库名严格区分大小写，请准确填写，否则会出错
        gitee-repo: wangxiaoerYah/my-link-repo
          # 要部署的分支，默认是 master，若是其他分支，则需要指定（指定的分支必须存在）
        branch: master

